/.editor_settings
/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
debugger/debugger.lua
debugger/debugger.script
